.aboutus{
  min-height: 500px;
  background: #ca9c9c;
  padding-top: 50px;
}
.aboutus1{
  padding-top: 70px;
    text-align: center;
    font-size: 28px;
    overflow: hidden;
}
.aboutushead{
    text-align: center;
    font-size: 28px;

}
